@import "uico";

@layer base {
	:root {
		--light-end: 0.002;

		--shiki-foreground: var(--base-100);
		--shiki-background: var(--base-900);
		--shiki-token-constant: var(--base-50);
		--shiki-token-string: var(--base-300);
		--shiki-token-comment: var(--base-400);
		--shiki-token-keyword: var(--base-400);
		--shiki-token-parameter: var(--base-300);
		--shiki-token-function: var(--base-300);
		--shiki-token-string-expression: var(--base-200);
		--shiki-token-punctuation: var(--base-500);
		--shiki-token-link: var(--base-300);

		scrollbar-gutter: stable;
	}

	main {
		margin-inline: auto;
		padding: var(--size-4);
		max-width: 70ch;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: var(--size-4);
	}
}

@layer components {
	.delay {
		margin-block: var(--size-2);
		border-radius: var(--border-radius);
		background-color: var(--muted-background);
		padding: var(--size-2);
	}
}
